.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbarHidden{
    display: block;
    width: 100vw;
  }
  
}