.featureCard{
    display: flex;
    width: 48%;
    flex-direction: column;
    align-items: center;
    background-color: #1F2536;
    color: white;
    border-radius: 1rem;
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
.featureContainer{
    display: flex;
    justify-content: space-between;
  }
.featureTitle{
    margin-top: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
  }
.rightFeatures{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .indivFeature{
    margin-top: 1rem;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    width: 48%;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image{
    height: 100px;
    width: 100px;
    margin-top: 2rem;
  }
  
  