.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  float: left;
  height: 80px;
  width: 80px;
}

.featureTextColor {
  color: #152e51;
}

.featureRow {
  justify-content: left;
}
