.root {
    margin: 1rem 0rem;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
}

.discordLink {
    background: rgb(107, 122, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
    color: white !important;
    text-decoration: none !important;
    margin-right: 20px;
    flex-grow: 1;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(38px);
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
}

.filter:hover {
    backdrop-filter: blur(0px);
}

.twitterLink {
    background-color: #48b2f4;
    color: white !important;
    text-decoration: none !important;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
    flex-grow: 1;

}

.telegramLink {
    background-color: #69aeff;
    color: white !important;
    text-decoration: none !important;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    flex-grow: 1;

}

.logo {
    margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
    .linkContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discordLink {
        width: 60vw;
        margin: 2rem 0 1rem 0;
    }

    .twitterLink {
        margin-bottom: 1rem;
        width: 60vw;
        margin-right: 0;
    }
    .telegramLink{
        width: 60vw;
    }
    .root{
        margin-top: 3rem;
    }
}