/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: "Kyrial Sans Pro";
  src: url('/static/KyrialSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url('/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Consolas";
  src: url('/static/Consolas-Regular.ttf') format('truetype');
}

:root {
  --ifm-color-primary: #1e4480;
  --ifm-color-primary-dark: #1b3d73;
  --ifm-color-primary-darker: #183666;
  --ifm-color-primary-darkest: #15305a;
  --ifm-color-primary-light: #35578d;
  --ifm-color-primary-lighter: #4b6999;
  --ifm-color-primary-lightest: #627ca6;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: "Consolas";
  --ifm-font-family-base: "Inter";
  --ifm-font-family-headers: "Kyrial Sans Pro";
  --ifm-font-color-base: rgba(0, 41, 60, 0.9);
  --ifm-link-color: #4b6999;
}

.DocSearch {
  width: 100%;
}

.markdown a {
  text-decoration: underline;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: #0000004d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
}

h3 code {
  background-color: transparent;
  color: #1E79C1;
}

code {
  font-family: var(--ifm-font-family-monospace);
}

img {
  display: block;
  margin: 0 auto;
}

h3 {
  margin: 0;
}

figcaption {
  color: grey;
  text-align: center;
}

p{
  margin: 0;
}

.hero__title {
  text-align: left;
  font-size: 40px;
}

.hero__subtitle {
  text-align: left;
  font-size: 14px;
}

.main--landing {
  background-image: url('../../static/img/heroBanner.jpeg');
  background-size: cover;
  opacity: 1;
}

.button {
  white-space: normal;
}

.button p {
  font-weight: normal;
}

.padding-left--xl {
  padding-left: 5rem !important;
}

.row {
  column-gap: 50px;
  row-gap: 40px;
  justify-content: center;
}

.row .col.col--4 {
  background-color: #f2f6fa;
  border-radius: 30px;
  padding: 30px 30px 10px 30px;
}

.navbar__item {
  float: right;
}

@media screen and (max-width: 800px) {
  footer {
    font-size: 1.5rem;
  }

  .footer__title {
    font-size: 1.5rem;
  }

  .footer__col {
    text-align: center;
  }

  .hero__subtitle {
    text-align: left;
    width: 100%
  }

  .hero__title {
    font-size: 2rem;
  }

  .katex {
    font-size: 0.8em;
  }
}
