.background{
  width: 100%;
  min-height: 29vh;
  background-color: #D6E1EF;
  padding: 4rem 12rem;
  display: flex;
  background-image: url("../../../static/img/footer.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
}
.root{
  width: 1280px;
  display: flex;
  justify-content: flex-end;
}

.linkGroup{
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  color: #374B6D;
}
.linkGroupTitle{
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .root{
    padding: 0rem;
    background-image: none;
    background-color: #D6E1EF;
    justify-content: space-evenly;
  }
  .linkGroup{
    margin: 2rem 1rem;
  }
  .background{
    background-image: none;
  }
}